html {
    height: 100%;
	background-color: rgb(19, 21, 22);
}

body {
    margin: 0;
    width: 100vw;
    height: inherit;
	max-height: 100vh;
    overflow: hidden;
}

.container {
	position: relative;
}

#game, #lobby {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#lobby {
	z-index: 9;
	background-color: rgb(19, 21, 22);
}

#nameselect {
	display: flex;
	flex-direction: row;
	
	align-items: center;
}

#nameselect > p {
	margin-right: 10px;
}

input[type="text"], textarea {
	color: hsl(0,0%,80%);
	background-color : rgb(19, 21, 22);  
	outline: 1px solid black;
	
	height: 25px
}

.switch {
	height: 50px;
	width: 100px;
	
	border-color: black;
	background-color: red;
	color: hsl(0,0%,80%);
	margin-right: 5px;
}

.switch:hover {
	filter: brightness(80%);
}

#playerlist {
	float: left;
	width: 25%;
	height: 92%;
	
	margin-top: 5px;
	box-sizing: border-box;
	border: solid;
	border-color: white;
}

#cards {
	float: right;
	width: 75%;
	height: 92%;
	
	display: flex;
}

.image {
	text-align: center;
}

.input {
	text-align: center;
}

.image > img {
	margin-top: none;
	width: auto;
	height: 300px;
}

main {
	height: 100%;
}

header {
	display: flex;
}

header > div{
	padding-right: 100px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	border: double;
	border-color: #b7410e;
}

.info {
	display: flex;
	flex-direction: row;
	
	align-items: center;
}

.realinfo {
	margin-left: 10px;
}

.bold {
	font-weight: 900;
}

#text-field {
	height: 12%;
	
	margin-top: 2.5px;
	
	border: solid;
	border-width: 2px;
	border-color: #b7410e;
}

.textfield {
	margin-top: 5px;
}

.game  {
	float: left;
	width: 75%;
	height: 100%;
}

#circle {
	height: 80%;
	contain: paint;
	position: relative;
}

.playericon{
	position: absolute;
	/*top: 100px;
	left: 100px;*/
	text-align: center;
}

#visibleImg {
	width: 102px;
	height: 102px;
}

#imageTxt {
	margin-top: 0px;
}

#visibleImg:hover {
	filter: brightness(125%);
}

#picture {
	padding: 0px 5px;
	/*max-width: 25%;*/
}
#playerpicture {
		max-width: 100%;
}	

.playerButton{
}

.character {
	float: right;
	width: 25%;
	height: 100%
}

#actions {
	display: flex;
	justify-content: center;
}

.button {
	height: 50px;
	width: 100px;
	
	border-color: black;
	background-color: red;
	color: hsl(0,0%,80%);
	margin-right: 5px;
}

.button:hover {
	filter: brightness(80%);
}

#skip {
	height: 18%;
	margin-top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

p {
	color: hsl(0,0%,80%);
}